* {
  box-sizing: border-box;
}

body {
  background-color: #FCF0CC; /* A64253 861657 */
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}



nav {
  background-color: #A64253;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav a{
  color: white;
  margin-left: 20px;
  text-decoration: none;
  transition-property: all;
  transition-duration: .55s;
}

nav a:hover{
 /* border-bottom: 2px solid white;*/
  transform: translateY(-10px);
  font-size: 1.25rem;
}

header {
  background-image: url('https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: white;
  margin-top: 8vh;
}

header h1{
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 0;
}

header p{
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}

section{
  text-align: center;
  height: 100vh;
  padding: 8vh;
}

header::after{
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  opacity: 0.8; 
}

header * {
  position: relative;
  z-index: 1;
}

section h2{
  margin: 0;
  padding: 0;
}

section p{
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}


#games{
  background-image: url(./imgs/radial-gradient-2474182713.png);
  height: 145vh;
}

#games h2{
  margin-top: 25px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 910px;
  margin: 5px auto 0;
}



.item{
  max-width: 280px;
  padding: 0;
  margin: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .5s;
 }


.item img{
  max-width: 100%;
  padding: 0;
  margin: 0;
  width: 280px;
  height: 150px;
}


.item span {
  position:absolute;
  top: 0;
  bottom:0;
  left: 0;
  right:0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent url(./imgs/constr.png) no-repeat;
  background-position:center;
}

.item p{
  font-size: 18px;
  margin-top: 1px;
  max-width: 280px;

}


#misc{
  height: 100vh;
  background-image: url(./imgs/wp3049572.jpg);
}


#slide{
  height: 100vh;
  background-image: url(./imgs/radial-gradient-2474182713.png); 

}


#trav{
  height: 100vh;
  background-image: url(./imgs/wp3049572.jpg);
}


#sites{
  height: 90vh;
  background-image: url(./imgs/radial-gradient-2474182713.png); 

}



#misc h2{
  margin-top: 25px;
}


#slide h2{
  margin-top: 25px;
}



#travel h2{
  margin-top: 25px;
}



.intro {
  width: 85vw;
  max-width: 500px;
}


.misc{
  max-width: 250px;
  padding: 0;
  margin: 10px;
 }

.misc img{
  max-width: 100%;
  padding: 0;
  margin: 10px;
  height: 150px;
}

.misc p{
  font-size: 20px;
  margin-top: 1px;
}




.social-ul{
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-ul a{
  color: blue;
  font-size: 25px;
  margin: 0 10px;
}

footer {
  background-color: #A64253;
  color: white;
  padding: 10px;
  text-align: center;
}


@media (min-width: 750px) {
.item{
  height: 250px;
 }
 
 .item:hover{
  transform: scale(1.1);
}

}



@media (max-width: 750px) {
  #games {
    height: 200vh;
  }

  #misc {
    height: 100vh;
  }


  #slide {
    height: 150vh;
  }

  #travel {
    height: 125vh;
  }


  section{
    padding: 8vh 0 0 0;
  }


  nav {
    justify-content: space-evenly;
  }

  nav a{
    margin-left: 8px;
    font-size: 14px;
  }

  .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
  }

  header h1{
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  header p{
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
  }





  .item{
    max-width: 100%;
  }
  
  .item img{
    margin: 0;
    width: 95vw;
    height: 150px;
    max-width: 360px;
  }

  .item p{
    max-width: 360px;
  }


 } /* End of media query */

#coffee{
  margin-top: 40px;
}


.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1.9s;
}
/*
.hidden-right {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1.9s;
}*/


.show{
  opacity: 1;
  transform: translateX(0);
  transition: transform 1.9s;
}


#footer-email{
  color: rgb(24, 23, 23);
}


